---
# Only the main Sass file needs front matter (the dashes are enough)
---

$link-color: #FFFFFF;
$background-color: #22272B;
$text-color: #FFFFFF;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials